:root {
    $color-white: #fff;
    $color-black: #000;
    $color-primary: #ff5e57;
    --text-gray-900: rgba(24, 25, 31, 1);
    --default-white: rgba(255, 255, 255, 1);
    --text-gray-100: rgba(244, 245, 247, 1);
    --grey-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);

    }